// Config file for module options

params {
    modules {
        'stage_input_tme' {
            publish_dir        = "tme_report/stage_input"
            conda_envt         = "/tme"
        }
        'tme_report' {
            publish_dir        = "tme_report"
            conda_envt         = "/tme"
        }
    }
}