// Config file for module options

params {
    modules {
        'update_pact_emat' {
            publish_dir        = "emats"
//            metadata_tsv       = "./test/meta_eset.tsv"
//            pact_gid_tpm       = "./test/eset_pact_geneid_proteincoding.tsv"
//            pact_hgnc_tpm      = "./test/eset_pact_hgnc_proteincoding.tsv"
//            pact_eset_log      = "./test/pact_eset_log.tsv"
//            tcga_gtex_map      = "./test/tcga_gtex_map.tsv"
        }
        'batch_correct' {
            publish_dir        = "emats"
//            metadata_tsv       = "./test/meta_eset.tsv"
//            bc_hgnc_tpm         = "./test/PactTcgaGtex_hgnc_bctpm.parquet.gz"
//            bc_tpm_gid          = "./test/PactTcgaGtex_gid_bctpm.parquet.gz"
//            bc_update_log      = "./test/bc_eset_log"
//            xena_gid_tpm       = "./test/eset_xena_geneid_proteincoding.tsv"
//            pact_gid_tpm       = "./test/eset_pact_geneid_proteincoding.tsv"
//            eset_update_log    = "./test/eset_update_log.tsv"
        }
        'hisat_genotype' {
            publish_dir = "genotype"
        }
    }
}