// Default config options for all environments

params {
    input = null
    outdir = "output"
    //publish_dir_mode = "copy"
    publish_dir_mode = "symlink"
    enable_conda = false
    hisat_prefix = "hisat2-genotype"
    //hisat_prefix = "hisat2-genotype/genotype_genome"
    //hisat_prefix = "/mnt/CBdata/data/data/References.old/hlahat/hlaloh_reference/hisat2-genotype/genotype_genome"
    //hisat_prefix = "/media/nfs/data/References/hlahat/hlaloh_reference/hisat2-genotype/genotype_genome"
}

process {
    maxForks = 20
    withName:EXTRACT_READS {
        container = 'kcampbel/rnaseq_methods:v3'
    }
    withName:HISAT_GENOTYPE {
        container = 'kcampbel/rnaseq_methods:v3'
    }
}
docker {
    enabled = true
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Default environment variables
//env {
//     PYTHONPATH = "$REPO_PATH:$PYTHONPATH"
//}
