// Default config options for all environments

params {
    input_hlahat = null
    input_hlacn = null
    outdir = "output"
//    publish_dir_mode = "copy"
    publish_dir_mode = "symlink"
    enable_conda = true
//    params.email = "csmith@pactpharma.com"
    hisat_prefix = "/mnt/CBdata/data/data/References.old/hlahat/hlaloh_reference/hisat2-genotype"
    //hisatgt_hlatypes = "/home/csmith/git/immune_escape/hlacn/test/hisatgenotype_normal_dna.report"
    imgthla = "/mnt/CBdata/data/data/References.old/IMGTHLA"
}

process {
    maxForks = 20
    cpus = 1
    conda = '/home/csmith/miniconda3/envs/immune_escape'
    withName:EXTRACT_READS {
        container = 'kcampbel/rnaseq_methods:v3'
    }
    withName:HISAT_GENOTYPE {
        container = 'kcampbel/rnaseq_methods:v3'
    }
    withName:PATIENT_REFERENCE {
        container = 'kcampbel/hlahat_r:v3'
    }
    withName:ALIGN_HLA_READS {
        container = 'kcampbel/rnaseq_methods:v3'
    }
}

docker {
    enabled           = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
}

// Load modules.config for DSL2 module specific options
includeConfig 'hlahat/conf/modules.config'
includeConfig 'hlacn/conf/modules.config'

// Default environment variables
//env {
//    PATH=${PATH}:hlahat/bin:hlacn/bin
//}
