// Config file for module options

params {
    modules {
        'update_pact_emat' {
            publish_dir        = "update_pact_emat"
            conda_envt         = "/process_exprs"
        }
        'batch_correct' {
            publish_dir        = "batch_correct"
            conda_envt         = "/process_exprs"
        }
    }
}