// Config file for module options

params {
    modules {
        'stage_input' {
            publish_dir        = "stage_input"
            conda_envt         = "/process_exprs"
        }
        'qc' {
            publish_dir        = "update_pact_emat"
            conda_envt         = "/process_exprs"
        }
        'update_pact_emat' {
            publish_dir        = "update_pact_emat"
            conda_envt         = "/process_exprs"
        }
        'batch_correct' {
            publish_dir        = "batch_correct"
            conda_envt         = "/process_exprs"
        }
    }
}