// Default config options for all environments

params {
    outdir = "output"
    publish_dir_mode = "copy"
    condaprefix="$CONDA_PREFIX"
}

process {
    maxForks = 20
}

// Load modules.config for DSL2 module specific options
includeConfig './process_exprs/conf/modules.config'
includeConfig './tme/conf/modules.config'

// Default environment variables
