// Config file for module options

params {
    modules {
        'stage_input_pe' {
            publish_dir        = "process_exprs/stage_input"
            conda_envt         = "/process_exprs"
        }
        'update_pact_emat' {
            publish_dir        = "process_exprs/update_pact_emat"
            conda_envt         = "/process_exprs"
        }
        'batch_correct' {
            publish_dir        = "process_exprs/batch_correct"
            conda_envt         = "/process_exprs"
        }
    }
}