// Config file for module options

params {
    modules {
        'extract_reads' {
            //ref_path = "/hlaloh/reference/hlaloh_reference/hisat2-genotype/genotype_genome"
            publish_dir = "extracted_reads"
        }
        'hisat_genotype' {
            //ref_path = "/hlaloh/reference/hlaloh_reference/hisat2-genotype/genotype_genome"
            publish_dir = "genotype"
        }
    }
}