// Default config options for all environments

params {
    input_tme = null
    outdir = "output"
//    publish_dir_mode = "copy"
    publish_dir_mode = "symlink"
    enable_conda = true
//    params.email = "csmith@pactpharma.com"
}

process {
    maxForks = 20
    conda = '/home/csmith/miniconda3/envs/bioinfo-tme-dev'
}

//docker {
//    enabled           = true
//    docker.runOptions = '-u \$(id -u):\$(id -g)'
//}

// Load modules.config for DSL2 module specific options
includeConfig './conf/modules.config'

// Default environment variables
env {
    PYTHONPATH="$projectDir:$PYTHONPATH"
}
