// Config file for module options

params {
    modules {
        'stage_input' {
            publish_dir = "hlacn/stage_input"
            conda_envt  = "/hlacn"
        }
        'hlatype_compare' {
            publish_dir = "hlacn/hlatype"
            conda_envt  = "/hlacn"
        }
        'phase_hla' {
            publish_dir = "hlacn/phase_hla"
            conda_envt  = "/hlacn"
        }
    }
}