// Config file for module options

params {
    modules {
        'extract_reads' {
            publish_dir = "extract_reads"
        }
        'hisat_genotype' {
            publish_dir = "genotype"
        }
        'patient_reference' {
            publish_dir = "genotype"
            nfields = 3
        }
        'align_hla_reads' {
            publish_dir = "bams"
        }
        'mark_duplicates' {
            publish_dir = "bams"
        }
    }
}